html {
    background-color: rgb(224, 154, 3);
    background-color: rgb(255, 255, 255, 80%);
}

body {
    padding: 2%;
    background-color: #f1c80f;
}

hr {
    opacity: 100%;
}

h1 h2 h3 {
    margin: 20px 0px;
    font-family: fantasy;
}

header {
    padding: 2%;
    background-color: black;
    color: orange;
    font-family:sans-serif;
    font-size: 5vw;
    font-variant: small-caps;
    letter-spacing: 4px;
    text-align: center;
}

#Magyar_Irodalom {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    background-color: lightsalmon;
    text-align: center;
    width: auto;
}

table {
    margin: auto;
}

h2 {
    text-align: center;
}

#linkek {
    text-align: center;
    width: auto;
}

footer {
    text-align: center;
    background-color: lightblue;
    padding: 20px;
    font-size: 150%;
    margin-top: 20px;
}

#tetejere {
    width:20vw;
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 2%;
    right: -15%;
}

#tetejere:hover {
    right: 0vw;
    transition: 1s;
}

#tetejere:not( hover) {
    transition: 1s;
}


